html,body{
    height:90%;
    width:100%;
}

.TicketHistoryMain{
    display:flex;
    justify-content: space-around;
    /* border:solid red; */
    height:500px;
}
.TicketHistoryComponent{
    margin:40px;
    border:solid rgb(189, 188, 157);
    border-radius:3%;
    width:50%;
}
.TicketDetailComponent{
    border-radius:3%;
    margin:40px;
    border:solid rgb(189, 188, 157);
    width:50%;
    display:flex;
    padding-top:20px;
    justify-content: center;
}
